body{
    background: url(https://tudosobreprodutos.com.br/img/flauta-doce-barroca-yamaha-yrs-b.png);
    font-family: 'GILL Sans', 'GILL Sans', 'Calibri', 'Trebuchet MS, sans-serif';
    font-size: 25px;
    text-align: center;
    color: rgb(148 0, 0);
}

h1{
    color: rgb(31, 6, 143)
}

h1{
    text-align: center;
}


h4{
    color: rgb(6, 6, 180);
}
h4{
    text-align: center;

}
h3{
    color: blue;
}

h3{
    text-align: center;
}
h6{
    text-align: center;
}
h6{
    color: blue;
}

    h2{
        color: blue;
    }
h2{
    text-align: center;
}

p{
    color: rgb(148 0, 0);
}